<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap" rel="stylesheet">

<style>
* {
  box-sizing: border-box;
 font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  
  position: relative;
  background: url("https://i0.wp.com/thepointsguy.com/wp-content/uploads/2015/12/cruise-trips.jpg?fit=1280%2C726px&ssl=1") no-repeat center center/cover;
 
  background-attachment: fixed;
  height: 100vh;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
 
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #C1E2F1;
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
  transition: 0.7s;
}

/* Style the content */
.content {
  padding: 10px;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}



/* selected link */
a:active {
  color: black;
}

img {
  border-radius: 15px;
  width: 50%;
  height: auto;
  padding-top: 50px;
}

.content: a {
  font-weight: bold;
}

/* Style the footer */
.footer {
  /*background-color: #ffe8cc;*/
  padding: 10px;
}

</style>
</head>
<body>

<div class="topnav">
  <%= link_to "Home", visit_reviews_path%>
  <%= link_to "Destinations", destinations_path %>
  <%= link_to "Points of Interest", pois_path %>
  <%= link_to "Reviews", reviews_path %>
  <%= link_to "Wishlists", wishlists_path %>
  <%= link_to "Trips", trips_path %>
</div>

<div class="content">
<h1><%= @trip.traveler.full_name%>'s <%= @trip.destination.city_name%> trip!</h1>
<hr>

<p><%= link_to @trip.traveler.full_name, traveler_path(@trip.traveler)%> has visited <%= link_to @trip.destination.city_name, destination_path(@trip.destination)%>, <%=@trip.destination.country_name%>.</p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<p><%= button_to "Delete Trip", {:controller => :trips, :action => 'destroy', :id => @trip.id }, :method => :delete %></p>
</div>

</body>
</html>
