<% if flash[:errors] %>
<% flash[:errors].each do | error | %>
<li style="color: red"><%= error %> </li>
<% end %>
<% end %>

<h1>Update Traveler Profile</h1>
<hr>
<br>


<%= form_with model: @traveler do | f |%>

<%= f.label :email%>
<%= f.text_field :email %>

<%= f.label :first_name %>
<%= f.text_field :first_name %>

<%= f.label :last_name %>
<%= f.text_field :last_name %>

<%= f.label :age %>
<%= f.text_field :age %>

<%= f.submit %>
<% end %>