<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap" rel="stylesheet">

<style>
* {
  box-sizing: border-box;
 font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  
  position: relative;
  background: url("https://www.jetsetmag.com/wp-content/uploads/2018/01/Agosto-2015-48_new.jpg") no-repeat center center/cover;
 
  background-attachment: fixed;
  height: 100vh;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
 
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #116EB5;
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
  transition: 0.7s;
}


/* Style the content */
.content {
  
  padding: 10px;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}


/* selected link */
a:active {
  color: black;
}

.content: a {
  font-weight: bold;
}

/* Style the footer */
.footer {
  /*background-color: #ffe8cc;*/
  padding: 10px;
}
</style>
</head>
<body>

<div class="topnav">
  <%= link_to "Home", visit_reviews_path%>
  <%= link_to "Destinations", destinations_path %>
  <%= link_to "Points of Interest", pois_path %>
  <%= link_to "Reviews", reviews_path %>
  <%= link_to "Wishlists", wishlists_path %>
  <%= link_to "Trips", trips_path %>
</div>

<div class="content">
<h1>Create New Destination</h1>
<hr>
<br>
<%= form_with model: @destination do | f |%>

<%= f.label :city_name %>
<%= f.text_field :city_name%>

<%= f.label :country_name %>
<%= f.text_field :country_name %>

<%= f.label :continent %>
<%= f.text_field :continent %>

<%= f.label :Image_URL %>
<%= f.text_field :img_url %>

<%= f.submit %>
<% end %>
</div>



</body>
</html>