<h1>List of Destinations</h1>
<hr>
<h4> Click on a destination to learn more about it!</h4>
<% @destinations.each do | destination |%>
<ul>
    <li><%= link_to destination.city_name, destination_path(destination) %>, <%= destination.country_name %></li>
</ul>
<% end %>
<hr>
<p>If theres a place you'd like to visit and it is not listed in our database please: <%= link_to "Click here to create a new Destination" , new_destination_path %> </p>

<%= link_to "Click here to create a new trip!", new_trip_path%>
</br>
</br>
<%= link_to "Click here to add a trip to your wishlist!", new_wishlist_path%>
</br>
</br>
<%= link_to "Click here to return to our home page!", travelers_path%>