<h1> <%=@destination.city_name%>, <%=@destination.country_name%>: </h1>

<p> <%=@destination.city_name%> is a city in <%=@destination.country_name%>.</p>
<p> Continent: <%=@destination.continent%></p>

<h2> Some common points of interest are listed below:</h2>
 <% @destination.pois.each do |poi| %> 
 <%= link_to poi.name, poi_path(poi) %>
 <% end %>
</br>
</br>
<%= link_to "Click here to edit this Destination!", edit_destination_path%>
</br>
</br>
<%= button_to "Delete Destination", {:controller => :destinations, :action => 'destroy', :id => @destination.id }, :method => :delete %>
</br>
</br><p><%=link_to image_tag(@destination.img_url)%></p>