<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap" rel="stylesheet">
<style>
* {
  box-sizing: border-box;
 font-family: 'Source Sans Pro', sans-serif;
 
}

body {
  margin: 0;
  
  position: relative;
  background: url("https://ciaobambino.com/wp-content/uploads/2019/01/family-in-greece.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  height: 100vh;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
 
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #4B90C6;
  color: black;
}

/* Style the content */
.content {
  padding: 10px;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}


/* selected link */
a:active {
  color: black;
}

img {
  border-radius: 15px;
  width: 50%;
  height: auto;
  padding-top: 50px;
}

.content: a {
  font-weight: bold;
}

/* Style the footer */
.footer {
  /*background-color: #ffe8cc;*/
  padding: 10px;
}

</style>
</head>
<body>

<div class="topnav">
  <%= link_to "Home", visit_reviews_path%>
  <%= link_to "Destinations", destinations_path %>
  <%= link_to "Points of Interest", pois_path %>
  <%= link_to "Reviews", reviews_path %>
  <%= link_to "Wishlists", wishlists_path %>
  <%= link_to "Trips", trips_path %>
</div>

<div class="content">
  <h1> <%=@destination.city_name%>, <%=@destination.country_name%>: </h1>

<p> <%=@destination.city_name%> is a city in <%=@destination.country_name%>.</p>
<p> Continent: <%=@destination.continent%></p>

<h2> Some common points of interest are listed below:</h2>
 <% @destination.pois.each do |poi| %> 
 <li><%=  link_to poi.name, poi_path(poi) %></li>
 <% end %>
</div>

<div class="footer">
<%= button_to "Delete Destination", {:controller => :destinations, :action => 'destroy', :id => @destination.id }, :method => :delete %>
</br>
<%= link_to "Click here to edit this Destination!", edit_destination_path%>
</br>
</br>
<%= link_to "Click here to create a new trip!", new_trip_path%>
</br>
</br>
<%= link_to "Click here to add a trip to your wishlist!", new_wishlist_path%>
</div>

</body>
</html>