<h1> <%=@destination.city_name%>, <%=@destination.country_name%>: </h1>

<p> <%=@destination.city_name%> is a city in <%=@destination.country_name%>.</p>
<p> Continent: <%=@destination.continent%></p>

<h2> Some common points of interest are listed below:</h2>
 <% @destination.pois.each do |poi| %> 
 <li><%=  link_to poi.name, poi_path(poi) %></li>
 <% end %>
 <hr>
</br>
<%= link_to "Click here to edit this Destination!", edit_destination_path%>
</br>
</br>
<%= button_to "Delete Destination", {:controller => :destinations, :action => 'destroy', :id => @destination.id }, :method => :delete %>
<hr>
<%= link_to "Click here to create a new trip!", new_trip_path%>
</br>
</br>
<%= link_to "Click here to add a trip to your wishlist!", new_wishlist_path%>
</br>
</br>
<%= link_to "Click here to return to all Destinations" , destinations_path %>
<p><%=link_to image_tag(@destination.img_url)%></p>