<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap" rel="stylesheet">
<style>
* {
  box-sizing: border-box;
 font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  
  position: relative;
  background: url("https://adventure.com/wp-content/uploads/2018/01/Hero-Fear-of-flying-Plane-over-Ibiza-Photo-credit-Shutterstock-Felix-B-1920x1080.jpg") no-repeat center center/cover;
 
  background-attachment: fixed;
  height: 100vh;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
 
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #0D70D3;
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
  transition: 0.7s;
}

/* Style the content */
.content {
  padding: 10px;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

.content: a {
  font-weight: bold;
}

/* Style the footer */
.footer {
  /*background-color: #ffe8cc;*/
  padding: 10px;
}

</style>
</head>
<body>

<div class="topnav">
  <%= link_to "Home", visit_reviews_path%>
  <%= link_to "Destinations", destinations_path %>
  <%= link_to "Points of Interest", pois_path %>
  <%= link_to "Reviews", reviews_path %>
  <%= link_to "Wishlists", wishlists_path %>
  <%= link_to "Trips", trips_path %>
</div>

<div class="content">
  <h1>List of Wishlists</h1>
<hr>
<% @wishlists.each do | wishlist|%>
<ul>
    <li><%= link_to wishlist.traveler.full_name, traveler_path(wishlist.traveler) %> wants to take a trip to <%= link_to wishlist.destination.city_name, wishlist_path(wishlist)%></li>
</ul>
<% end %><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<p><%= link_to "Click here to add a trip to your wishlist" , new_wishlist_path %></p>
</div>


</body>
</html>
