<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(https://visme.co/blog/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-031.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
 
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  color: black;
  padding: 10px;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: black;
}

.content: a {
  font-weight: bold;
}

/* Style the footer */
.footer {
  /*background-color: #ffe8cc;*/
  padding: 10px;
}
</style>
</head>
<body>

<div class="topnav">
  <%= link_to "Home", visit_reviews_path%>
  <%= link_to "Destinations", destinations_path %>
  <%= link_to "Points of Interest", pois_path %>
  <%= link_to "Reviews", reviews_path %>
  <%= link_to "Wishlists", wishlists_path %>
  <%= link_to "Trips", trips_path %>
</div>

<div class="content">
  <%= form_with model: @poi do | f |%>

<%= f.label :"Select where this POI is located:" %>
<%= f.collection_select :destination_id, Destination.all, :id, :city_name %>

<%= f.label :name %>
<%= f.text_field :name%>

<%= f.label :description %>
<%= f.text_field :description %>

<%= f.submit %>
<% end %>
</div>

</body>
</html>
